<header>
<nav>
	<ul>
		<li><a href="/">Inicio</a></li>
		<li><a href="/poblar">Poblar la Base de Datos</a></li>
		<li><a href="/cargaRS">Cargar datos para el RS</a></li>
		<li><a href="/puntuacionesUsuario">Muestra los libros que ha puntuado un usuario</a></li>
		<li><a href="/mejoresLibros">Muestra los tres libros mejor puntuados</a></li>
		<li><a href="/librosParecidos">Dado un libro muestra los cinco libros que mas se parecen</a></li>
		<li><a href="/recomendarLibros">Recomienda diez libros que no haya puntuado - RS Basado en Usuarios</a></li>
	</ul>
</nav>
</header>
